/*import font poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}

/* Heading */
.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}

.container .heading h3 span {
    font-weight: 100;
}

/* Gallery Photo */
.container .album {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .album .gallery {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .album .gallery img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.container .btn-more{
    margin: 40px 0px 70px 0px;
    background-color: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn-more a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

/*Responsive Screen Mobile or Tablet - Jika Layar < 769px*/
@media only screen and (max-width: 769px){
    .container .album {
        flex-direction: column;
    }

    .container .album .gallery{
        width: 100%;
    }
}

/* Responsive Screen for Small Mobile (Not relate for now)
@media only screen and (max-width: 643px){
    .container .heading{
        width: 100%;
    }

    .container .heading h3{
        font-size: 1em;
    }
}

/* Dark mode styles based on user preference
@media (prefers-color-scheme: dark){
    body {
        color: white;
        background-color: #222;
    }

    .container .heading {
        border-bottom: 3px solid white;
        padding-bottom: 3px;
    }

    .container .album .gallery img {
        padding-top: 50px;
    }
}

@media (prefers-color-scheme: light){
    body {
        color: #222;
        background-color: #f0f0f0;
    }

    .container .heading{
        border-bottom: 3px solid #222;
        padding-bottom: 10px;
        padding-bottom: 3px;
    }

    .container .album .gallery img {
        padding-top: 50px;
    }
} */